Lab_2/BitArrayTesting/.idea

Lab_2/BitArrayTesting/BitArrayExtensions/bin
Lab_2/BitArrayTesting/BitArrayExtensions/obj

Lab_2/BitArrayTesting/BitArrayXUnit/bin
Lab_2/BitArrayTesting/BitArrayXUnit/obj

*.docx
*.7z
